:root {
	--bg-color-1: #343c40;
	--bg-color-2: #253136;
	--bg-color-3: #1c2124;

	--main-light-color: #fafafa;
	--add-light-color: #eaebed;

	--accent-color: #2f9dd4;

	--martian-font: "Martian Mono", monospace;
	--roboto-font: "Roboto", sans-serif;
}
